HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/static/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

src/main/resources/static/**
src/main/resources/templates/
src/main/resources/application.properties
FrontEnd/node_modules
FrontEnd/package-lock.json
FrontEnd/dist
src/main/resources/static
src/main/resources/templates
