.container-login100 {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;

  .wrap-login100 {
    width: 1170px;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    .login100-form {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      padding: 157px 65px 40px 65px;

      .login100-form-title {
        font-family: $font-family-script;
        font-size: 20px;
        color: #555555;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        width: 100%;
        display: block;
      }

      .p-b-34 {
        padding-bottom: 34px;
      }

      .wrap-input100 {
        width: 100%;
        position: relative;
        border: 1px solid #e6e6e6;
      }

      .m-b-20 {
        margin-bottom: 20px;
      }


      .input100 {
        display: block;
        width: 100%;
        background: transparent;
        font-family: $font-family-script;
        font-size: 18px;
        color: #666666;
        line-height: 1.2;
        padding: 0 25px;
      }

      input.input100 {
        height: 55px;
      }

      input {
        outline: none;
        border: none;
      }

      .focus-input100 {
        position: absolute;
        display: block;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        top: -1px;
        left: -1px;
        pointer-events: none;
        border: 1px solid $ocean;
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s;
        transform: scaleX(1.1) scaleY(1.3);
      }
      .input100:focus + .focus-input100 {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
      }

      .error-input {
        border: 1px solid red;
      }

      .error-text {
        text-align: center;
        color: red;
      }

      .container-login100-form-btn {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .login100-form-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 50px;
        border-radius: 3px;
        background: $ocean;
        font-family: $headings-font-family;
        font-size: 15px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.4s;
      }

      button {
        outline: none !important;
        border: none;
        background: transparent;
      }

      .w-full {
        width: 100%;
      }

      .social {
        padding-top: 12px;
      }

      .social-buttons {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 120px;
        a {
          text-decoration: none;
          color: #555555;
          padding: 10px;
          &:hover {
            color: $ocean;
          }
        }
      }

      .txt1 {
        font-family: $font-family-script;
        font-size: 15px;
        line-height: 1.4;
        color: #999999;
      }

      .txt2 {
        font-family: $font-family-script;
        font-size: 13px;
        line-height: 1.4;
        color: $ocean;
      }

      .txt3 {
        font-family: $font-family-script;
        font-size: 17px;
        font-weight: bold;
        line-height: 1.4;
        color: $ocean;
        text-transform: uppercase;
      }

    }
    .login100-more {
      background-image: url("../../../assets/images/signUp-bg.jpeg");
      width: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      z-index: 1;

      &.before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
      }
    }
  }
}

