.container-login100 {
  .wrap-login100 {
    flex-direction: row;

    .login100-form {
      padding: 157px 65px 40px 65px;

      .social-buttons {
        margin-bottom: 120px;
      }
    }

    .login100-more {
      background-image: url("../../../assets/images/signUp-bg.jpeg");
    }
  }
}

