<!DOCTYPE html>
<html xmlns lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bicycle</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="/img/favicon.png">
</head>

<body>

    <include src="../../common/navigation/navigation-minor.html"/>

    <header class="master-head">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="text-uppercase">Choose time and rent!</h2>
                <span class="title-line">

                    <em class="fa fa-bicycle fa-2x" aria-hidden="true"></em>

                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
    </header>

    <include src="./sections/bicycle-info.html">
    <include src="./sections/rent-options.html">
    <include src="./sections/details-container.html">
    <include src="./sections/cart-area.html">
    <include src="../../common/footer/footer.html"/>
</body>
</html>
