<tbody>
    <tr>
        <th scope="row" class="border-0">
            <div class="p-2">
                <img src="../../../assets/images/bicycles/03.jpg" alt="" width="70"
                     class="img-fluid rounded shadow-sm">
                <div class="ml-3 d-inline-block align-middle">
                    <h5 class="mb-0"><a href="#"
                                        class="text-dark d-inline-block align-middle">Bike1</a>
                    </h5>
                    <span class="text-muted font-weight-normal font-italic">Rent time: 12:00 - 13:00</span>
                </div>
            </div>
        </th>
        <td class="border-0 align-middle"><strong>1h * 79.00 UAH</strong></td>
        <td class="align-middle"><input type="number" id="number"
                                        class="form-control quantity-input" value="1"
                                        style="width: 80px"/></td>
        <td class="border-0 align-middle"><a href="#" class="text-dark"><i
                class="fa fa-trash"></i></a></td>
    </tr>
    <tr>
        <th scope="row">
            <div class="p-2">
                <img src="../../../assets/images/bicycles/03.jpg" alt="" width="70"
                     class="img-fluid rounded shadow-sm">
                <div class="ml-3 d-inline-block align-middle">
                    <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Bike2</a>
                    </h5>
                    <span class="text-muted font-weight-normal font-italic">Rent time: 12:00 - 13:00</span>
                </div>
            </div>
        </th>
        <td class="align-middle"><strong>1h * 79.00 UAH</strong></td>
        <td class="align-middle"><input type="number" id="number"
                                        class="form-control quantity-input" value="1"
                                        style="width: 80px"/></td>
        <td class="align-middle"><a href="#" class="text-dark"><i
                class="fa fa-trash"></i></a>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <div class="p-2">
                <img src="../../../assets/images/bicycles/03.jpg" alt="" width="70"
                     class="img-fluid rounded shadow-sm">
                <div class="ml-3 d-inline-block align-middle">
                    <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Bike3</a>
                    </h5>
                    <span class="text-muted font-weight-normal font-italic">Rent time: 12:00 - 13:00</span>
                </div>
            </div>
        <td class="align-middle"><strong>1h * 79.00 UAH</strong></td>
        <td class="align-middle"><input type="number" id="number"
                                        class="form-control quantity-input" value="1"
                                        style="width: 80px"/></td>
        <td class="align-middle"><a href="#" class="text-dark"><i
                class="fa fa-trash"></i></a>
        </td>
    </tr>
    </tbody>