@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../../scss/styles.scss';

// Components
@import "../../scss/components/buttons.scss";
@import "../../scss/components/navbar.scss";

// Sections
@import "../../common/sections/master-head.scss";
@import "./sections/_product-list.scss";
@import "./sections/_filter-buttons.scss";
@import "src/common/pagination/pagination-buttons.scss";
@import "../../common/footer/footer.scss";

header.master-head {
  background-image: url("../../../assets/images/forest-dark.jpeg");
}
