<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bicycle Rent</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <link rel="icon" href="/img/favicon.png">
</head>
<body id="page-top">

  <include src="../../common/navigation/navigation.html" />

  <header class="master-head">
    <div class="container">
      <div class="masthead-subheading">Welcome To Our Store!</div>
      <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
      <a class="btn btn-ocean btn-xl text-uppercase js-scroll-trigger" th:href="@{/bicycles}">Choose bicycle</a>
    </div>
  </header>

  <include src="./sections/_services.html" />
  <include src="./sections/_how-to-rent.html" />
  <include src="./sections/_team.html" />
  <include src="./sections/_map.html" />

  <include src="../../common/footer/footer.html" />

</body>
</html>
