<section class="page-section bg-light" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">How to rent a bike</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../../assets/images/about/bicycles.jpeg" alt="" /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>1</h4>
            <h4 class="subheading">Look through all variants</h4>
          </div>
          <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../../assets/images/about/bike.jpg" alt="" /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2</h4>
            <h4 class="subheading">Choose the bicycle</h4>
          </div>
          <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
        </div>
      </li>
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../../assets/images/about/details.jpg" alt="" /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>3</h4>
            <h4 class="subheading">Add some details</h4>
          </div>
          <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../../assets/images/about/cash.jpg" alt="" /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>4</h4>
            <h4 class="subheading">Pay for it</h4>
          </div>
          <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Enjoy
            <br/>
            Your
            <br/>
            Ride!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
