<section class="page-section" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="../../../assets/images/team/1.jpg" alt="" />
          <h4>Elizabeth</h4>
          <p class="text-muted">Lead Developer</p>
          <a class="btn btn-dark btn-social mx-2" href=""><em class="fab fa-twitter"></em></a>
          <a class="btn btn-dark btn-social mx-2" href=""><em class="fab fa-facebook-f"></em></a>
          <a class="btn btn-dark btn-social mx-2" href=""><em class="fab fa-linkedin-in"></em></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="../../../assets/images/team/2.jpg" alt="" />
          <h4>Yuriy</h4>
          <p class="text-muted">Lead Developer</p>
          <a class="btn btn-dark btn-social mx-2" href=""><em class="fab fa-twitter"></em></a>
          <a class="btn btn-dark btn-social mx-2" href=""><em class="fab fa-facebook-f"></em></a>
          <a class="btn btn-dark btn-social mx-2" href=""><em class="fab fa-linkedin-in"></em></a>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
    </div>
  </div>
</section>
