<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="images/logos/icon.png"/>
    <title>Bicycle</title>
   
    <link href="libs/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="libs/bootstrap-4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="styles/common/navigation.css" rel="stylesheet"/>
    <link href="styles/common/footer.css" rel="stylesheet"/>
    <link href="styles/common/masthead.css" rel="stylesheet"/>
    <link rel="stylesheet" href="styles/bicycle.css">
</head>

<body>
<div th:insert="common/navigation :: navigation"></div>

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="text-uppercase">Choose time and rent!</h2>
            <span class="title-line">

                <em class="fa fa-bicycle fa-2x" aria-hidden="true"></em>

            </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </header>
    <div>
        <div class="container" style="margin-top: 30px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="bicycle-image-wrapper"><img class="bicycle-image w-100 d-block" src="images/mobius-sl/mobius-sl.jpg" alt="Slide Image"></div>
                </div>
                <div class="col-md-6 text-left"><div class="bicycle-name"><h3>Mobilus-SL</h3></div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et scelerisque sem. Ut sollicitudin efficitur posuere. Vestibulum varius iaculis libero eu aliquam. Sed tristique enim non lacus pretium efficitur
                <p></p>
                <p><strong>Minimum rent time 30 minutes</strong></p>
                <p><strong>For overusing limit you have to pay 20$\hour</strong></p>
                <h5>Bike characteristics: </h5>
                <ul class="list-group">
                    <li class="list-group-item"><p><strong>Weight: </strong>5kg</p></li>
                    <li class="list-group-item"><p><strong>Type: </strong>mountain</p></li>
                    <li class="list-group-item"><p class="price"><strong>Price: </strong>22$\hour</p></div></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="rent-options-container">
    <div class="row text-left justify-content-center">
        <div><h2 class="text-center" id="calculator">Calculate rent price for Mobius-SL mountain bike</h2>
            <form id="bikeCalcRequest">
                <fieldset>
                    <div class="form-group row">
                        <div class="col-12">&nbsp;</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 text-center"><strong>Rent start(bike receiving)</strong></div>
                    </div>
                    <div class="input-group row time-select"><label for="timeStart"
                                                                    class="col-3 col-form-label text-right text-nowrap">Time</label>
                        <div class="col-6 input-group time-field">
                            <div class="input-group-append icon-for-field-wrapper">
                                <div class="icon-for-field"><i class="gj-icon clock clock-icon"></i></div>
                            </div>
                            <select id="timeStart" name="timeStart" class="is-valid">
                                <option value="00:00">00:00</option>
                                <option value="00:30">00:30</option>
                                <option value="01:00">01:00</option>
                                <option value="01:30">01:30</option>
                                <option value="02:00">02:00</option>
                                <option value="02:30">02:30</option>
                                <option value="03:00">03:00</option>
                                <option value="03:30">03:30</option>
                                <option value="04:00">04:00</option>
                                <option value="04:30">04:30</option>
                                <option value="05:00">05:00</option>
                                <option value="05:30">05:30</option>
                                <option value="06:00">06:00</option>
                                <option value="06:30">06:30</option>
                                <option value="07:00">07:00</option>
                                <option value="07:30">07:30</option>
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00" selected="selected">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                                <option value="18:30">18:30</option>
                                <option value="19:00">19:00</option>
                                <option value="19:30">19:30</option>
                                <option value="20:00">20:00</option>
                                <option value="20:30">20:30</option>
                                <option value="21:00">21:00</option>
                                <option value="21:30">21:30</option>
                                <option value="22:00">22:00</option>
                                <option value="22:30">22:30</option>
                                <option value="23:00">23:00</option>
                                <option value="23:30">23:30</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">&nbsp;</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 text-center"><strong>Rent end(bike returning)</strong></div>
                    </div>
                    <div class="input-group row time-select"><label for="timeStart"
                                                                    class="col-3 col-form-label text-right text-nowrap">Time</label>
                        <div class="col-6 input-group time-field">
                            <div class="input-group-append icon-for-field-wrapper">
                                <div class="icon-for-field"><i class="gj-icon clock clock-icon"></i></div>
                            </div>
                            <select id="timeEnd" name="timeStart" class="is-valid">
                                <option value="00:00">00:00</option>
                                <option value="00:30">00:30</option>
                                <option value="01:00">01:00</option>
                                <option value="01:30">01:30</option>
                                <option value="02:00">02:00</option>
                                <option value="02:30">02:30</option>
                                <option value="03:00">03:00</option>
                                <option value="03:30">03:30</option>
                                <option value="04:00">04:00</option>
                                <option value="04:30">04:30</option>
                                <option value="05:00">05:00</option>
                                <option value="05:30">05:30</option>
                                <option value="06:00">06:00</option>
                                <option value="06:30">06:30</option>
                                <option value="07:00">07:00</option>
                                <option value="07:30">07:30</option>
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00" selected="selected">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                                <option value="18:30">18:30</option>
                                <option value="19:00">19:00</option>
                                <option value="19:30">19:30</option>
                                <option value="20:00">20:00</option>
                                <option value="20:30">20:30</option>
                                <option value="21:00">21:00</option>
                                <option value="21:30">21:30</option>
                                <option value="22:00">22:00</option>
                                <option value="22:30">22:30</option>
                                <option value="23:00">23:00</option>
                                <option value="23:30">23:30</option>
                            </select>
                        </div>
                    </div>


                </fieldset>
            </form>
        </div>
    </div>
</div>

<!--Details-->
<div class="details-container py-5">

    <div class="row text-left justify-content-center">
        <div><h2 class="text-center" id="calculator">Choose additional equipment</h2></div>
      <div class=" details-column col col-12 mx-auto">
  
        <!-- List group-->
        <ul class="list-group shadow">
  
          <!-- list group item-->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="detail-row media align-items-lg-center flex-column flex-lg-row">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check5">
                <label class="custom-control-label" for="check5"></label>
              </div>
              <div class="media-body order-2 order-lg-1">
               
                <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
                <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">120.00 UAH</h6> 
                </div>
              </div>
              <img src="images/mobius-sl/mobius-crank.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
            </div>
            <!-- End -->
          </li>
          <!-- End -->
  
          <!-- list group item-->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="detail-row media align-items-lg-center flex-column flex-lg-row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check6">
                    <label class="custom-control-label" for="check6"></label>
                </div>
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
                <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">120.00 UAH</h6>
                </div>
              </div>
              <img src="images/mobius-sl/mobius-crank.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
            </div>
            <!-- End -->
          </li>
          <!-- End -->
  
          <!-- list group item -->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="detail-row media align-items-lg-center flex-column flex-lg-row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check7">
                    <label class="custom-control-label" for="check7"></label>
                </div>
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
                <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">120.00 UAH</h6>   
                </div>
              </div>
              <img src="images/mobius-sl/mobius-crank.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2"> 
            </div>
            <!-- End -->
          </li>
          <!-- End -->
  
          <!-- list group item -->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="detail-row media align-items-lg-center flex-column flex-lg-row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check8">
                    <label class="custom-control-label" for="check8"></label>
                </div>
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
                <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">120.00 UAH</h6>
                </div>
              </div><img src="images/mobius-sl/mobius-crank.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
            </div>
            <!-- End -->
          </li>
          <!-- End -->
  
        </ul>
        <!-- End -->
      </div>
    </div>
  </div>

<!--Add to cart-->
<div class="row">
    <div class="buttons col d-flex flex-row justify-content-start">
            <button class="add-to-cart-button btn btn-primary" type="button">
                Add to cart&nbsp;<i class="fa fa-shopping-cart"></i></button>
            <div class="total"><h3>Total: 800.00 UAH</h3></div>
    </div>
    
</div>

<!-- Footer-->
<div th:insert="common/footer :: footer"></div>

<!-- Bootstrap core JS-->
<script src="libs/jquery/jquery-3.4.1.min.js"></script>
<script src="libs/bootstrap-4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Core theme JS-->
<script src="js/index.js"></script>
</body>

</html>