<div>
    <div class="bicycle-info container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-6">
                <div class="bicycle-image-wrapper"><img class="bicycle-image w-100 d-block" src= "../../../assets/images/bicycles/mobius-sl.jpg"alt="Slide Image"></div>
            </div>
            <div class="col-md-6 text-left"><div class="bicycle-name"><h3>Mobilus-SL</h3></div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et scelerisque sem. Ut sollicitudin efficitur posuere. Vestibulum varius iaculis libero eu aliquam. Sed tristique enim non lacus pretium efficitur
            <p></p>
            <p><strong>Minimum rent time 30 minutes</strong></p>
            <p><strong>For overusing limit you have to pay 20$\hour</strong></p>
            <h5>Bike characteristics: </h5>
            <ul class="list-group">
                <li class="list-group-item"><p><strong>Weight: </strong>5kg</p></li>
                <li class="list-group-item"><p><strong>Type: </strong>mountain</p></li>
                <li class="list-group-item"><p class="price"><strong>Price: </strong>22$\hour</p></div></li>
            </ul>
        </div>
    </div>
</div>