<div>
    <div class="bicycle-info container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-6">
                <div class="bicycle-image-wrapper"><img class="bicycle-image w-100 d-block" th:src="@{img/bicycles/{bicycleName}(bicycleName=${bicycle.getPhoto()})}"  alt="Slide Image"></div>
            </div>
            <div class="col-md-6 text-left"><div class="bicycle-name"><h3 th:text="${bicycle.getName()}"></h3></div>
            <div th:text="${bicycle.getDescription()}"></div>
            <p></p>
            <p><strong>Minimum rent time 30 minutes</strong></p>
            <p><strong>For overusing limit you have to pay 20$\hour</strong></p>
            <h5>Bike characteristics: </h5>
            <ul class="list-group">
                <li class="list-group-item"><p th:text="@{Weight: {weight}(weight=${bicycle.getWeight()})}"><strong></strong></p></li>
                <li class="list-group-item"><p th:text="@{Type: {type}(type=${bicycle.getType()})}"><strong></strong></p></li>
                <li class="list-group-item"><p class="price" th:text="@{Price: {price}/hour(price=${bicycle.getPrice()})}"><strong></strong></p></div></li>
            </ul>
        </div>
    </div>
</div>