<div class="details-container py-5">

    <div class="row text-left justify-content-center">
        <div><h2 class="text-center" id="calculator">Choose additional equipment</h2></div>
      <div class=" details-column col col-12 mx-auto">
  
        <!-- List group-->
        <ul class="list-group shadow">
  
          <!-- list group item-->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="detail-row media align-items-lg-center flex-column flex-lg-row">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check5">
                <label class="custom-control-label" for="check5"></label>
              </div>
              <div class="media-body order-2 order-lg-1">
               
                <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
                <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">120.00 UAH</h6> 
                </div>
              </div>
              <img src="../../../assets/images/bicycles/mobius-crank.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
            </div>
            <!-- End -->
          </li>
          <!-- End -->
  
          <!-- list group item-->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="detail-row media align-items-lg-center flex-column flex-lg-row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check6">
                    <label class="custom-control-label" for="check6"></label>
                </div>
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
                <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">120.00 UAH</h6>
                </div>
              </div>
              <img src="../../../assets/images/bicycles/mobius-crank.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
            </div>
            <!-- End -->
          </li>
          <!-- End -->
  
          <!-- list group item -->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="detail-row media align-items-lg-center flex-column flex-lg-row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check7">
                    <label class="custom-control-label" for="check7"></label>
                </div>
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
                <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">120.00 UAH</h6>   
                </div>
              </div>
              <img src="../../../assets/images/bicycles/mobius-crank.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2"> 
            </div>
            <!-- End -->
          </li>
          <!-- End -->
  
          <!-- list group item -->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="detail-row media align-items-lg-center flex-column flex-lg-row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check8">
                    <label class="custom-control-label" for="check8"></label>
                </div>
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
                <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">120.00 UAH</h6>
                </div>
              </div><img src="../../../assets/images/bicycles/mobius-crank.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
            </div>
            <!-- End -->
          </li>
          <!-- End -->
  
        </ul>
        <!-- End -->
      </div>
    </div>
  </div>
