<section class="section-1">
  <div class="container my-orders">
    <div class=" d-flex justify-content-between">
      <h1 class="orders-title"><span>My Orders:</span></h1>
    </div>


    <div>
      <div class="row">
        <div class="col col-12 mb-5">
          <div class="order-item">
            <div class="info">
              <div class="right-block">
                <div class="price">
                  <span>1200</span>
                  UAH
                </div>
              </div>
              <div>
                <a data-toggle="collapse" href="#collapseDishes-3" aria-expanded="false">
                  <span class="order-dish-items badge badge-info"># 3</span><em
                  class="double-arrow fas fa-angle-double-right"></em>
                </a>
              </div>
              <div><span>5</span> item(s)</div>
              <div class="created-at">2020-04-18</div>
            </div>
            <div class="info-list collapse" id="collapseDishes-3">
              <div class="info-list-item">
                <a class="dish-name" href="dish?dishId=21">
                  <img src="../../../assets/images/bicycles/01.jpg" alt="Vegan chocolate ice cream"/>
                  <span>Vegan chocolate ice cream</span>
                </a>
                <div class="divider"></div>
                <p class="rent-time">Rent time: 13:30 - 15:00</p>
                <div class="info-list__item-price">
                  Price:
                  <span class="info-list__item-price__items">1.5 h</span> x
                  <span class="info-list__item-price__cost">75.0 UAH</span> =
                  <span class="info-list__item-price__cost">112.5</span>
                </div>
              </div>
              <div class="info-list-item">
                <a class="dish-name" href="dish?dishId=12">
                  <img src="../../../assets/images/bicycles/02.jpg" alt="Summer Asian Slaw"/>
                  <span>Summer Asian Slaw</span>
                </a>
                <div class="divider"></div>
                <p class="rent-time">Rent time: 13:00 - 15:00</p>
                <div class="info-list__item-price">
                  Price:
                  <span class="info-list__item-price__items">2 h</span> x
                  <span class="info-list__item-price__cost">250.0 UAH</span> =
                  <span class="info-list__item-price__cost">500.0</span>
                </div>
              </div>
              <div class="info-list-item">
                <a class="dish-name" href="dish?dishId=12">
                  <img src="../../../assets/images/bicycles/02.jpg" alt="Summer Asian Slaw"/>
                  <span>Summer Asian Slaw</span>
                </a>
                <div class="divider"></div>
                <p class="rent-time">Rent time: 13:00 - 15:00</p>
                <div class="info-list__item-price">
                  Price:
                  <span class="info-list__item-price__items">2 h</span> x
                  <span class="info-list__item-price__cost">250.0 UAH</span> =
                  <span class="info-list__item-price__cost">500.0</span>
                </div>
              </div>
              <div class="info-list-item">
                <a class="dish-name" href="dish?dishId=16">
                  <img src="../../../assets/images/bicycles/03.jpg" alt="Berry smoothie"/>
                  <span>Berry smoothie</span>
                </a>
                <div class="divider"></div>
                <div class="info-list__item-price">
                  <span class="info-list__item-price__items">1</span> x
                  <span class="info-list__item-price__cost">150.0 UAH</span> =
                  <span class="info-list__item-price__cost">150.0</span>
                </div>
              </div>
              <div class="info-list-item">
                <a class="dish-name" href="lunch?lunchId=3">
                  <img src="../../../assets/images/bicycles/04.jpg" alt="Nutritious vegetarian lunch"/>
                  <span>Nutritious vegetarian lunch</span>
                </a>
                <div class="divider"></div>
                <div class="info-list__item-price">
                  <span class="info-list__item-price__items">1</span> x
                  <span class="info-list__item-price__cost">475 UAH</span> =
                  <span class="info-list__item-price__cost">475</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col col-12 mb-5">
          <div class="order-item">
            <div class="info">
              <div class="right-block">
                <div class="status">
                  <span class="badge badge-info">Archive</span>
                </div>
                <div class="price">
                  <span>5895</span>
                  UAH
                </div>
              </div>
              <div>
                <a data-toggle="collapse" href="#collapseDishes-5" aria-expanded="false">
                  <span class="order-dish-items badge badge-info"># 5</span><em
                  class="double-arrow fas fa-angle-double-right"></em>
                </a>
              </div>
              <div><span>2</span> item(s)</div>
              <div class="created-at">2020-05-20</div>
            </div>
            <div class="info-list collapse" id="collapseDishes-5">
              <div class="info-list-item">
                <a class="dish-name" href="dish?dishId=12">
                  <img src="../../../assets/images/bicycles/05.jpg" alt="Summer Asian Slaw"/>
                  <span>Summer Asian Slaw</span>
                </a>
                <div class="divider"></div>
                <p class="rent-time">Rent time: 13:00 - 15:00</p>
                <div class="info-list__item-price">
                  Price:
                  <span class="info-list__item-price__items">2 h</span> x
                  <span class="info-list__item-price__cost">250.0 UAH</span> =
                  <span class="info-list__item-price__cost">500.0</span>
                </div>
              </div>
              <div class="info-list-item">
                <a class="dish-name" href="dish?dishId=12">
                  <img src="../../../assets/images/bicycles/06.jpg" alt="Summer Asian Slaw"/>
                  <span>Summer Asian Slaw</span>
                </a>
                <div class="divider"></div>
                <p class="rent-time">Rent time: 13:00 - 15:00</p>
                <div class="info-list__item-price">
                  Price:
                  <span class="info-list__item-price__items">2 h</span> x
                  <span class="info-list__item-price__cost">250.0 UAH</span> =
                  <span class="info-list__item-price__cost">500.0</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col col-12 mb-5">
          <div class="order-item">
            <div class="info">
              <div class="right-block">
                <div class="status">
                  <span class="badge badge-info">Archive</span>
                </div>
                <div class="price">
                  <span>2155</span>
                  UAH
                </div>
              </div>
              <div>
                <a data-toggle="collapse" href="#collapseDishes-6" aria-expanded="false">
                  <span class="order-dish-items badge badge-info"># 6</span><em
                  class="double-arrow fas fa-angle-double-right"></em>
                </a>
              </div>
              <div><span>3</span> item(s)</div>
              <div class="created-at">2020-09-12</div>
            </div>
            <div class="info-list collapse" id="collapseDishes-6">
              <div class="info-list-item">
                <a class="dish-name" href="dish?dishId=12">
                  <img src="../../../assets/images/bicycles/07.jpg" alt="Summer Asian Slaw"/>
                  <span>Summer Asian Slaw</span>
                </a>
                <div class="divider"></div>
                <p class="rent-time">Rent time: 13:00 - 15:00</p>
                <div class="info-list__item-price">
                  Price:
                  <span class="info-list__item-price__items">2 h</span> x
                  <span class="info-list__item-price__cost">250.0 UAH</span> =
                  <span class="info-list__item-price__cost">500.0</span>
                </div>
              </div>
              <div class="info-list-item">
                <a class="dish-name" href="dish?dishId=12">
                  <img src="../../../assets/images/bicycles/08.jpg" alt="Summer Asian Slaw"/>
                  <span>Summer Asian Slaw</span>
                </a>
                <div class="divider"></div>
                <p class="rent-time">Rent time: 13:00 - 15:00</p>
                <div class="info-list__item-price">
                  Price:
                  <span class="info-list__item-price__items">2 h</span> x
                  <span class="info-list__item-price__cost">250.0 UAH</span> =
                  <span class="info-list__item-price__cost">500.0</span>
                </div>
              </div>
              <div class="info-list-item">
                <a class="dish-name" href="lunch?lunchId=4">
                  <img src="../../../assets/images/bicycles/05.jpg" alt="Easter holiday lunch"/>
                  <span>Easter holiday lunch</span>
                </a>
                <div class="divider"></div>
                <div class="info-list__item-price">
                  <span class="info-list__item-price__items">1</span> x
                  <span class="info-list__item-price__cost">1590 UAH</span> =
                  <span class="info-list__item-price__cost">1590</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <include src="../../../common/pagination/pagination-buttons.html"/>
  </div>
</section>
