<div class="my-drop-list-button">
  <div class="btn-group dropdown">
    <button type="button" class="btn btn-secondary dropdown-toggle main-dd-button" id="dropdownTypeButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose type of bicycle
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTypeButton">
      <button class="dropdown-item" type="button">Mountain</button>
      <button class="dropdown-item" type="button">City</button>
      <button class="dropdown-item" type="button">For kids</button>
    </div>
  </div>

  <div class="btn-group dropdown">
    <button type="button" class="btn btn-secondary dropdown-toggle main-dd-button" id="dropdownSort"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort by
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSort">
      <button class="dropdown-item" type="button">Price up</button>
      <button class="dropdown-item" type="button">Price down</button>
      <button class="dropdown-item" type="button">Weight up</button>
      <button class="dropdown-item" type="button">Weight down</button>
    </div>
  </div>
</div>
