.my-drop-list-button {
  margin-bottom: 20px;
  display: block;
  text-align: right;

  label {
    border-bottom: 2px solid $ocean;
    margin-left: 35px;
    font-size: 17px;
  }

  .main-dd-button {
    padding: 10px 30px 10px 7px;
    margin: 0 0 10px 10px !important;
    border-radius: .25rem !important;
    border: 1px solid #212529;
  }

  .filter-block {
    display: inline-block;
  }
}
