.my-drop-list-button {
  margin-bottom: 20px;
  display: block;
  text-align: right;

  .main-dd-button {
    padding: 10px 30px;
    margin: 0 0 10px 10px !important;
    border-radius: .25rem !important;
  }
}
