<div class="my-drop-list-button">
    <div class="filter-block">
        <label for="dropdownType">Type of bicycle:</label>
        <select id="dropdownType" class="main-dd-button">
            <option value="ALL">All</option>
            <option value="MOUNTAIN">Mountain</option>
            <option value="CITY">City</option>
            <option value="FOR_KIDS">For kids</option>
        </select>
    </div>
    <div class="filter-block">
        <label for="dropdownSort2">Sort by:</label>
        <select id="dropdownSort2" class="main-dd-button">
            <option value="DEFAULT">Default</option>
            <option value="PRICE_UP">Price up</option>
            <option value="PRICE_DOWN">Price down</option>
            <option value="WEIGHT_UP">Weight up</option>
            <option value="WEIGHT_DOWN">Weight down</option>
        </select>
    </div>
</div>