// Styling for the team section
.bike-list {
  .card a{
    @include media-breakpoint-up(xs) {
      height: auto;
    }
  }
}

#list {
  padding: 3rem 0;
}

.border-my {
  border-radius: 0;
  border: 0;

  .card-body {
    border-top: 3px solid #eaeaeabf;
  }
  a {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color: #6b6b6b;
    height: 500px;
    transition: all .5s cubic-bezier(.25,.8,.25,1);

    h5{
      color: black;
    }

    &:hover {
      box-shadow: 0 3px 5px -1px rgba(0,0,0,.12), 0 6px 10px 0 rgba(0,0,0,.12), 0 1px 18px 0 rgba(0,0,0,.12);
      transform: translate(7px, -7px);
    }
  }
}

.card-price {
  color: #05a081;
  padding-bottom: 8px;
  border-bottom: 1px solid #cbcbcb;
  text-transform: uppercase;
  font-size: 15px;
}

.bicycle-info-list {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  font-size: 13px;
  font-weight: 600;
  margin: 10px 0;
  text-align: center;
  padding: 0;

  li {
    border: 1px solid #ccc;
    flex-basis: 100%;
    padding: 3px;
    position: relative;
    list-style-type: none;
  }
  em {
    color: #05a081;
  }
}



