<section class="bike-list page-section" id="list">
  <div class="container">

    <include src="./_filter-buttons.html" />

    <div id="bicyclesList" class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
<!--      <div class="col mb-4">-->
<!--        <div class="card h-100 border-my">-->
<!--          <a href="bicycle?id=01">-->
<!--            <img src="../../../assets/images/bicycles/01.jpg" class="card-img-top" alt="Bike 01">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Aston Martin One-77</h5>-->
<!--              <h6 class="card-title card-price">39$/per hour</h6>-->
<!--              <p class="card-text">This is a longer card with supporting text below as a natural lead-in-->
<!--                to additional content.</p>-->
<!--              <ul class="bicycle-info-list">-->
<!--                <li><em class="fas fa-check"></em> Mountain</li>-->
<!--                <li><em class="fas fa-check"></em> 2 kg</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col mb-4">-->
<!--        <div class="card h-100 border-my">-->
<!--          <a href="bicycle?id=02">-->
<!--            <img src="../../../assets/images/bicycles/02.jpg" class="card-img-top" alt="Bike 02">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Aston Martin One-77</h5>-->
<!--              <h6 class="card-title card-price text-danger">Not available</h6>-->
<!--              <p class="card-text">This is a longer card with supporting text below as a natural lead-in-->
<!--                to additional content.</p>-->
<!--              <ul class="bicycle-info-list">-->
<!--                <li><em class="fas fa-check"></em> Mountain</li>-->
<!--                <li><em class="fas fa-check"></em> 1.8 kg</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col mb-4">-->
<!--        <div class="card h-100 border-my">-->
<!--          <a href="bicycle?id=03">-->
<!--            <img src="../../../assets/images/bicycles/03.jpg" class="card-img-top" alt="Bike 03">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Aston Martin One-77</h5>-->
<!--              <h6 class="card-title card-price">39$/per hour</h6>-->
<!--              <p class="card-text">This is a longer card with supporting text below as a natural lead-in-->
<!--                to additional content.</p>-->
<!--              <ul class="bicycle-info-list">-->
<!--                <li><em class="fas fa-check"></em> Mountain</li>-->
<!--                <li><em class="fas fa-check"></em> 1.8 kg</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col mb-4">-->
<!--        <div class="card h-100 border-my">-->
<!--          <a href="bicycle?id=04">-->
<!--            <img src="../../../assets/images/bicycles/04.jpg" class="card-img-top" alt="Bike 04">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Aston Martin One-77</h5>-->
<!--              <h6 class="card-title card-price">39$/per hour</h6>-->
<!--              <p class="card-text">This is a longer card with supporting text below as a natural lead-in-->
<!--                to additional content.</p>-->
<!--              <ul class="bicycle-info-list">-->
<!--                <li><em class="fas fa-check"></em> Mountain</li>-->
<!--                <li><em class="fas fa-check"></em> 1.8 kg</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col mb-4">-->
<!--        <div class="card h-100 border-my">-->
<!--          <a href="bicycle?id=05">-->
<!--            <img src="../../../assets/images/bicycles/05.jpg" class="card-img-top" alt="Bike 05">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Aston Martin One-77</h5>-->
<!--              <h6 class="card-title card-price">39$/per hour</h6>-->
<!--              <p class="card-text">This is a longer card with supporting text below as a natural lead-in-->
<!--                to additional content.</p>-->
<!--              <ul class="bicycle-info-list">-->
<!--                <li><em class="fas fa-check"></em> Mountain</li>-->
<!--                <li><em class="fas fa-check"></em> 1.8 kg</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col mb-4">-->
<!--        <div class="card h-100 border-my">-->
<!--          <a href="bicycle?id=06">-->
<!--            <img src="../../../assets/images/bicycles/06.jpg" class="card-img-top" alt="Bike 06">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Aston Martin One-77</h5>-->
<!--              <h6 class="card-title card-price">39$/per hour</h6>-->
<!--              <p class="card-text">This is a longer card with supporting text below as a natural lead-in-->
<!--                to additional content.</p>-->
<!--              <ul class="bicycle-info-list">-->
<!--                <li><em class="fas fa-check"></em> Mountain</li>-->
<!--                <li><em class="fas fa-check"></em> 1.8 kg</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col mb-4">-->
<!--        <div class="card h-100 border-my">-->
<!--          <a href="bicycle?id=07">-->
<!--            <img src="../../../assets/images/bicycles/07.jpg" class="card-img-top" alt="Bike 07">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Aston Martin One-77</h5>-->
<!--              <h6 class="card-title card-price">39$/per hour</h6>-->
<!--              <p class="card-text">This is a longer card with supporting text below as a natural lead-in-->
<!--                to additional content.</p>-->
<!--              <ul class="bicycle-info-list">-->
<!--                <li><em class="fas fa-check"></em> Mountain</li>-->
<!--                <li><em class="fas fa-check"></em> 1.8 kg</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col mb-4">-->
<!--        <div class="card h-100 border-my">-->
<!--          <a href="bicycle?id=08">-->
<!--            <img src="../../../assets/images/bicycles/08.jpg" class="card-img-top" alt="Bike 08">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Aston Martin One-77</h5>-->
<!--              <h6 class="card-title card-price">39$/per hour</h6>-->
<!--              <p class="card-text">This is a longer card with supporting text below as a natural lead-in-->
<!--                to additional content.</p>-->
<!--              <ul class="bicycle-info-list">-->
<!--                <li><em class="fas fa-check"></em> Mountain</li>-->
<!--                <li><em class="fas fa-check"></em> 1.8 kg</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
    </div>

    <include src="../../../common/pagination/pagination-buttons.html" />

  </div>
</section>
